/* * {
    border: 1px red solid;
} */

body {
    margin: 0;
    flex-shrink: 1;
}
.header {
    background: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    padding: 0px 260px 90px 260px;
}

ul {
    display: flex;
    list-style: none;
    margin: 4px;
    padding: 0;
    gap: 16px
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.initial {
    background: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 0px 250px 90px 250px;
    height: 200px;
    align-items: stretch;
}

.initial .big-text {
    font-size: 48px;
    font-weight: bold;
}

.initial .small-text {
    font-size: 18px;
}

.initial-box-one, .initial img {
    flex: 1;
}

.initial-box-one {
    padding: 35px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
}

button {
    cursor: pointer;
    border: 1px solid #ddd;
    background: #3882f6;
    color: white;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for a better button size */
    margin: 10px 0 0 0; 
    align-self: flex-start; /* the button aligns to the start of its container */
    font-size: 16px; /* Adjust font size for better appearance */
    border-radius: 5px; /* Adds rounded corners for a nicer look */   
}

.initial img {
    flex: 1;
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    margin: 0 10px; 
    align-self: center; 
    object-position: center;
    border-radius: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px;
}

.title-info {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center
}



.title-and-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    gap: 20px; 
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.empty-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    height: 200px;    
}

.square {
    width: 200px;
    height: 200px;
    border: 3px #3882f6 solid;
    border-radius: 5px;
    
}

.card {
    text-align: center;
    width: 200px;
    
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background: #E5E7Eb
}

.quote {
    display: flex;
    width: 1000px;
    font-size: 32px;
    font-style: italic;
    color: #1F2937
}

.author {
    width: 1000px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937
}

.sign-up {
    padding: 40px 250px;
    display: flex;
    justify-content: center;
}

.sign-up .box {
    display: flex;
    flex-direction: column;
    background: #3882f6;
    color: white;
    border-radius: 5px;
    width: 1000px;
    gap: 5px;
    padding: 25px;
    position: relative;
}

.sign-up .text-content {
    margin-bottom: 10px;
}

.sign-up-header {
    font-size: 24px;
    font-weight: bold;
}

.sign-up-text {
    margin-top: 10px;
}

.box button {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 25px;

    
}

.footer {
    background: #1F2937;
    font-size: 16px;
    color: #f9faf8;
    text-align: center;
    padding: 0 16px;
    justify-content: space-between;
    padding: 20px 100px;
}